{% extends "base.twig" %}

{% block title %}Connexion{% endblock %}

{%  block content %}
    <form class="form-signin" action="" method="post">
        <h2 class="form-signin-heading">Veuillez vous connecter</h2>
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
        <label for="inputLogin" class="sr-only">Nom d'utilisateur</label>
        <input name="login" type="text" max="255" id="inputLogin" class="form-control" placeholder="Trenzaloard" required autofocus>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="MotDePasse123456789" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
    </form>
{% endblock %}