{% extends "base.twig" %}

{% block title %}Erreur 401{% endblock %}

{%  block content %}
    <div class="jumbotron">
        <h2>Erreur 401 !</h2>
        <p>Vous n'êtes pas authentifié !</p>
    </div>
{% endblock %}