{% extends "base.twig" %}

{% block title %}Erreur 403{% endblock %}

{%  block content %}
    <div class="jumbotron">
        <h2>Erreur 403 !</h2>
        <p>Vous n'avez pas le droit d'accéder à cette ressource !</p>
    </div>
{% endblock %}