{% extends "base.twig" %}

{% block title %}Erreur 404{% endblock %}

{%  block content %}
    <div class="row">
        <div class="jumbotron">
            <h2>Erreur 404 !</h2>
            <p>La page ou la ressource demandée est innacessible</p>
        </div>
    </div>
{% endblock %}