<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="/css/courrierx.style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %} - Courrierx</title>
    {% endblock %}
</head>
<body>
    <div class="container">
        {% include "navbar.twig" %}
        {%  block content %}
            {% block successFlash %}
                {% if flash.getMessage('success')[0] %}
                    <div class="row">
                        <div class="alert alert-success fade in" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ flash.getMessage('success')[0] }}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
            {% block errorFlash %}
                {% if flash.getMessage('error')[0] %}
                    <div class="row">
                        <div class="alert alert-danger fade in" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ flash.getMessage('error')[0] }}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </div>
    <div class="container">
        &copy; Copyright 2016 - Courrierx - Valentin Pivet
    </div>
</body>
</html>

{% block script %}{% endblock %}