{%  extends "base.twig" %}

{% block title %}Acceuil{% endblock %}

{%  block content %}
    <div class="row">
        <div class="jumbotron"><h2>Courrierx</h2></div>
        <p>Un super site en construction</p>
    </div>
{% endblock %}