{%  extends "base.twig" %}

{% block title %}Acceuil{% endblock %}

{%  block content %}
    {% block successFlash %}
        {{ parent() }}
    {% endblock %}
    {% block errorFlash %}
        {{ parent() }}
    {% endblock %}
    <div class="jumbotron">
        <h2>Courrierx</h2>
        <p>Un super site en construction</p>
    </div>
{% endblock %}